BACKEND_URL=http://localhost:8000

# Portkey Gateway
PORTKEY_API_KEY=
PORTKEY_PRIMARY_CONFIG_ID=
PORTKEY_SECONDARY_CONFIG_ID=
PORTKEY_GUARDRAIL_CONFIG_ID=
PORTKEY_EMBEDDING_CONFIG_ID=
PORTKEY_HTTP_PROXY=

# Qdrant Vector DB
QDRANT_API_KEY=
QDRANT_CLUSTER_ENDPOINT=

# Pydantic Logfire Observability
LOGFIRE_TOKEN=

# LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
